html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: sticky;
  z-index: 1;
  top: 0px;
  border-bottom: 1px solid black;
  padding-left: 18%;
  padding-right: 18%;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
}

button {
  border: none;
  background: none;
}

nav > button {
  margin: 10px;
  border-radius: 20px;
  height: 40px;
}
nav > button:hover {
  border-radius: 20px;
  color: white;
  border-color: #191919;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
  margin-bottom: 20px;
}

#buttonNav {
  border-radius: 20px;
  color: white;
  background-color: #191919;
  height: 40px;
  width: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 480px;
  background-color: #ffc017;
  padding-left: 18%;
  font-size: 25px;
  border-bottom: 1px solid black;
}

#hero > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 80%;
}

#hero h1 {
  font-size: 100px;
  margin: 0;
}

#hero p {
  margin: 0;
  margin-bottom: 30px;
}

#buttonHero {
  border-radius: 20px;
  color: white;
  background-color: #191919;
  height: 40px;
  width: 200px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

#hero svg {
  max-width: 40%;
}

#trending {
  padding-left: 18%;
  padding-right: 18%;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

#titleSection {
  display: flex;
  font-weight: 700;
  font-size: 13px;
  align-items: center;
  gap: 10px;
}

.trendingArticles {
  display: inline-flex;
  align-items: flex-start;
  width: 30%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.numberArticle {
  font-size: 40px;
  font-weight: bold;
  color: lightgray;
  flex-shrink: 0;
  margin-right: 10px;
}

.authorArticle {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
}

.pfpArticle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.subjectArticle {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.dateAndReadTimeArticle {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

#articlesAndTags {
  display: flex;
  flex-direction: row;
  padding-left: 18%;
  padding-right: 18%;
  flex-wrap: wrap;
}

#articles {
  width: 60%;
}

.articleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

.articleSubject {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.articleImage {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.articleImage img {
  width: 80%;
  height: auto;
}

.authorArticle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pfpArticle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.articleTitle {
  color: gray;
}

.articleTitle > h2 {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.articleButton {
  border-radius: 20px;
  background-color: lightgray;
}

.articleButton:hover {
  background-color: rgb(145, 145, 148);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dates {
  display: flex;
  gap: 10px;
}

.dateAndIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.bookmark img {
  width: 20px;
  height: 20px;
}

#tags > span {
  font-weight: 700;
  font-size: 13px;
}
